.aboutContainer{
display: flex;
flex-direction: row;
width: 90vw;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
margin-bottom: auto;
justify-content: space-evenly;
}
.aboutImg{

}
.aboutImg img{
width: 40vw;
}
.aboutBio{
color: white;
flex-direction: column;
padding: 10%;
}
.aboutBio h3{
color: white;
}
@media only screen and (max-width: 600px) {
    .aboutContainer{
        flex-direction: column;
    }
    .aboutImg{
        width: 40vw;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        }
  }