.sliderContainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 65vw;
    background-color: #0B0B1E;
    
}
.sliderContainer img{
    height: auto;
    width: 65vw;
}
h2{
    color: white;
    margin-left: 2vw;
}

@media only screen and (max-width: 600px) {
    .sliderContainer{
    margin-top: 20%;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    }
    .sliderContainer img{
        
        width: 100vw;
    }
  }