
.pageContainer{
    background-color:  #0B0B1E;
    margin-left: auto;
    margin-right: auto;
    
}
.container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;

  
}
.leftSide{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    
   
    
    
    
  
}
.rightSide{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: right;
    align-items: right;
    -webkit-justify-content: right;
    justify-content: right;
    
}
   
.works-thumb:hover ,
.works-thumb:focus  {
      -webkit-filter: none;
      filter: none;
     }
.works-link:hover .overlay {
        opacity: 1;
        
      }
.leftSide img{
    display: block;
    height: auto;
    width: 100%;
    margin-top: 20%;
    -webkit-filter: grayscale(100%)
    contrast(120%);
    filter: grayscale(100%) 
    contrast(120%);

    transition: filter 0.3s, box-shadow 0.3s;
    -webkit-transition: filter 0.3s, -webkit-filter 0.3s, box-shadow 0.3s;

}
.rightSide img{
    display: block;
    height: auto;
    width: 100%;
    margin-top: 20%;
    -webkit-filter: grayscale(100%)
    contrast(120%); 
    filter: grayscale(100%)
    contrast(120%);

    transition: filter 0.8s, box-shadow 0.3s;
    -webkit-transition: filter 0.8s, -webkit-filter 0.3s, box-shadow 0.3s;

}
.intro{
    margin-top: 20%;
    margin-right: auto;
    color: white;
    
}
.intro h1{
    margin-right: auto;
    margin-left: 0vw;
}

.works-link{
   display: inline-block;
   height: auto;
   width: 500px;
   margin-right: auto;
   margin-left: auto;
   position: relative;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    transition: .5s ease;
    opacity:0;
    color:white;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    font-size: 50px;
    padding: 20px;
    text-align: left;
  }

  @media only screen and (max-width: 600px) {
    .container{
       margin-left: auto;
       margin-right: auto;
        -webkit-flex-direction: column;
        flex-direction: column;
        
     }
     .intro{
       
        margin-right: auto;
        margin-left: auto;
        }
     .overlay{
         opacity: 1;
         text-align: center;
         left: 10%;
     }  

  }