.container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    
    

}
.leftSide{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    
    
  
}
.rightSide{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: right;
    align-items: right;
    -webkit-justify-content: right;
    justify-content: right;
}
   
.works-thumb:hover , 
.works-thumb:focus  {
      -webkit-filter: none;
      filter: none;
     

    
}
.leftSide img{
    height: auto;
    width: 100%;
    margin-bottom: 100px;
    -webkit-filter: grayscale(100%)
    contrast(120%);
    filter: grayscale(100%) 
    contrast(120%);

    transition: filter 0.3s, box-shadow 0.3s;
    -webkit-transition: filter 0.3s, -webkit-filter 0.3s, box-shadow 0.3s;

}
.rightSide img{
    height: auto;
    width: 100%;
    margin-bottom: 100px;
    -webkit-filter: grayscale(100%)
    contrast(120%); 
    filter: grayscale(100%)
    contrast(120%);

    transition: filter 0.8s, box-shadow 0.3s;
    -webkit-transition: filter 0.8s, -webkit-filter 0.3s, box-shadow 0.3s;

}
.intro{
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: 50px;
    color: white;
    margin-top: 100px;
    
}
.works-link{
   display: inline-block;
   width: 500px;
   margin-right: 50px;
   margin-left: 50px;
}